.profile-img-large{
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit:cover;
}

.profile-field{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 0;
    border-bottom:1px solid #eee;
}